venv/
env/
# PyCharm specific files
.idea/
*.iml
*.ipr
*.iws

# Python temporary and compilation files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg
*.egg-info/
build/
dist/
parsed_rates/
raw_movie_files/
user_models/
users_database/
mlartifacts/
mlflow_env/
mlruns/
.env
again.py
delete_png.py
train_model.py
